<!DOCTYPE html>
<html>
    <head>
        <title>Prescriptions</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="js/lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="js/lib/bootstrap/css/bootstrap-theme.css">
        <script data-main="js/app.js" src="js/lib/require.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <a class="navbar-brand">Pillbox</a>
                </div>
            </div>
            <div id="prescriptions">
                <div class="row">
                    
                </div>
            </div>
        </div>

        <script type="text/template" id="pill-template">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                    <h3><%= title %></h3>
                    Dose: <%= doze %>
                    </div>
                </div>
            </div>
        </script>
    </body>
</html>
